<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>正在热映 - 猫眼电影 - 一网打尽好电影</title>
    <link rel="stylesheet" href="../CSS/normalize.css">
    <link rel="stylesheet" href="../CSS/dianying.css">
    <link rel="shortcut icon" href="../IMG/Blogo.png" type="image/x-icon">
    <script src="/js/vue.js"></script>
    <script src="/business/JS/jquery-1.11.0.min.js"></script>

</head>

<body>
<header class="dingbu">
    <nav>
        <a href="#" class="logo"></a>
        <div class="xiala1 bian">
            <div class="xiala1_1">
                <a href="#" class="cd">成都</a>
                <span class="sanjiao"></span>
                <ul>
                    <div class="xiala1_1_d">
                        定位城市：
                        <a href="#">成都</a>
                    </div>
                    <li>
                        <span>A</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>B</span>
                        <div>
                            <a href="#">北京</a>
                            <a href="#">保定</a>
                            <a href="#">蚌埠</a>
                            <a href="#">包头</a>
                            <a href="#">本溪</a>
                            <a href="#">巴彦淖尔</a>
                            <a href="#">白城</a>
                            <a href="#">白山</a>
                            <a href="#">毫州</a>
                            <a href="#">滨州</a>
                            <a href="#">巴中</a>
                            <a href="#">北海</a>
                            <a href="#">百色</a>
                            <a href="#">毕节</a>
                            <a href="#">保山</a>
                            <a href="#">宝鸡</a>
                            <a href="#">白银</a>
                            <a href="#">巴州</a>
                            <a href="#">博尔塔拉</a>
                            <a href="#">滨海</a>
                            <a href="#">宝应</a>
                            <a href="#">北流</a>
                            <a href="#">博爱</a>
                            <a href="#">北碚</a>
                            <a href="#">宝丰</a>
                            <a href="#">洣阳</a>
                            <a href="#">博兴</a>
                            <a href="#">博山</a>
                            <a href="#">璧山</a>
                            <a href="#">彬县</a>
                            <a href="#">宾阳</a>
                            <a href="#">博白县</a>
                            <a href="#">博罗县</a>
                            <a href="#">北镇市</a>
                            <a href="#">泊头市</a>
                            <a href="#">北京市</a>
                            <a href="#">巴彦县</a>
                        </div>
                    </li>
                    <li>
                        <span>C</span>
                        <div>
                            <a href="#">重庆</a>
                            <a href="#">成都</a>
                            <a href="#">长沙</a>
                            <a href="#">常州</a>
                            <a href="#">长春</a>
                            <a href="#">沧州</a>
                            <a href="#">承德</a>
                            <a href="#">赤峰</a>
                            <a href="#">长治</a>
                            <a href="#">朝阳</a>
                            <a href="#">池州</a>
                            <a href="#">巢湖</a>
                            <a href="#">滁州</a>
                            <a href="#">潮州</a>
                            <a href="#">郴州</a>
                            <a href="#">常德</a>
                            <a href="#">崇左</a>
                            <a href="#">楚雄</a>
                            <a href="#">昌吉</a>
                            <a href="#">从化</a>
                            <a href="#">常熟</a>
                            <a href="#">长乐</a>
                            <a href="#">长兴</a>
                            <a href="#">慈溪</a>
                            <a href="#">昌邑</a>
                            <a href="#">长葛</a>
                            <a href="#">苍南</a>
                            <a href="#">承德县</a>
                            <a href="#">赤壁</a>
                            <a href="#">崇州</a>
                            <a href="#">淳安</a>
                            <a href="#">曹妃甸</a>
                            <a href="#">昌乐</a>
                            <a href="#">磁县</a>
                            <a href="#">昌黎</a>
                            <a href="#">岑溪</a>
                            <a href="#">成安</a>
                            <a href="#">长垣</a>
                            <a href="#">曹县</a>
                            <a href="#">城阳</a>
                            <a href="#">茌平</a>
                            <a href="#">长汀</a>
                            <a href="#">城固</a>
                            <a href="#">赤水</a>
                            <a href="#">常山</a>
                            <a href="#">长寿</a>
                            <a href="#">潮安</a>
                            <a href="#">潮阳</a>
                            <a href="#">澄海</a>
                            <a href="#">长丰县</a>
                            <a href="#">茶陵</a>
                            <a href="#">常宁市</a>
                            <a href="#">苍溪县</a>
                            <a href="#">慈利</a>
                            <a href="#">长清区</a>
                            <a href="#">崇明区</a>
                            <a href="#">成武县</a>
                            <a href="#">澄江县</a>
                        </div>
                    </li>
                    <li>
                        <span>D</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>E</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>F</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>G</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>H</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>I</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>J</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>K</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>L</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>M</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>N</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>O</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>P</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>Q</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>R</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>S</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>T</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>U</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>V</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>W</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>X</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>Y</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>Z</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <ul class="navbar">
            <li>
                <a href="./index.html">首页</a>
            </li>
            <li>
                <a href="./dianying.html">电影</a>
            </li>
            <li>
                <a href="./yingyuan.html">影院</a>
            </li>
            <li>
                <a href="./bangdan.html">榜单</a>
            </li>
            <li>
                <a href="./redian.html">热点</a>
            </li>
        </ul>
        <div class="shouji bian">
            <span class="shouji_1"></span>
            <span>APP下载</span>
            <span class="sanjiao"></span>
            <div class="shouji1">
                <div>
                    <div></div>
                </div>
                <p>扫码下载APP</p>
                <p>选座更优惠</p>
            </div>
        </div>
        <div class="sousuo">
            <form method="get" action="../HTML/Search.html">
                <input class="sousuo_1" type="search" maxlength="32" placeholder="找影视剧、影人、影院" autocomplete="off" name="keyWord" onblur="if(this.value.replace(/^ +| +$/g,'')=='')alert('不能为空!')">
                <input class="sousuo_2" type="submit" value="" >
            </form>
        </div>
        <div class="denglu bian" id="user">
            <a href="/jifen/index.html">
                <img :src="photo" alt="" style="width:50px; height:50px;border-radius: 50%">
            </a>
            <span class="sanjiao"></span>
            <div  v-if="userId==0">
                <a href="/user/accountLogin">登陆</a>
            </div>
            <div  v-if="userId==''">
                <a href="/user/accountLogin">登陆</a>
            </div>
            <div  v-if="userId==null">
                <a href="/user/accountLogin">登陆</a>
            </div>
            <div  v-else>
                <a href="/user/logout">注销</a>
            </div>
        </div>
    </nav>
</header>
<!-- 大类 -->
<div class="header" id="MovieStatus">
    <ul>
        <li>
            <a v-on:click="getStatus(1)">正在热映</a>
        </li>
        <li>
            <a v-on:click="getStatus(2)">即将上映</a>
        </li>
        <li>
            <a v-on:click="getStatus(3)">经典影片</a>
        </li>
    </ul>
</div>
<!-- 主体 -->
<div class="main">
    <form id="formbody">
        <input type="hidden" id="status" name="status" value="1">
        <input type="hidden" id="offset" name="offset" value="0">
        <input type="hidden" id="limit" name="limit" value="30">
        <article>
            <!-- 电影详细分类 -->
            <span id="MovieType">
                    <div class="lei">
                        <ul class="lei_1">
                            <li>
                                <div>
                                    类型：
                                </div>
                                <ul class="lei_2">
                                    <li>
                                        <input type="radio" id="quanbu" name="tId" checked v-on:click="getMoive"
                                               value="">
                                        <label for="quanbu">
                                            <a>全部</a>
                                        </label>
                                        <span v-for="(mtype,index) in movieType" class="type">
                                        <input type="radio" :id="'tId'+(index+2)" name="tId" :value="mtype.typeId"
                                               v-on:click="getMoive">
                                        <label :for="'tId'+(index+2)">
                                            <a>{{mtype.typeName}}</a>
                                        </label>
                                        </span>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div>
                                    区域：
                                </div>
                                <ul class="lei_2">
                                    <li>
                                        <input type="radio" id="quanbu2" name="area" checked value=""
                                               v-on:click="getMoive">
                                        <label for="quanbu2">
                                            <a>全部</a>
                                        </label>
                                        <input type="radio" id="dalu" name="area" value="大陆" v-on:click="getMoive">
                                        <label for="dalu">
                                            <a>大陆</a>
                                        </label>
                                        <input type="radio" id="meiguo" name="area" value="美国" v-on:click="getMoive">
                                        <label for="meiguo">
                                            <a>美国</a>
                                        </label>
                                        <input type="radio" id="hanguo" name="area" value="韩国" v-on:click="getMoive">
                                        <label for="hanguo">
                                            <a>韩国</a>
                                        </label>
                                        <input type="radio" id="riben" name="area" value="日本" v-on:click="getMoive">
                                        <label for="riben">
                                            <a>日本</a>
                                        </label>
                                        <input type="radio" id="zhongguoxianggang" name="area" value="中国香港"
                                               v-on:click="getMoive">
                                        <label for="zhongguoxianggang">
                                            <a>中国香港</a>
                                        </label>
                                        <input type="radio" id="zhongguotaiwan" name="area" value="中国台湾"
                                               v-on:click="getMoive">
                                        <label for="zhongguotaiwan">
                                            <a>中国台湾</a>
                                        </label>
                                        <input type="radio" id="taiguo" name="area" value="泰国" v-on:click="getMoive">
                                        <label for="taiguo">
                                            <a>泰国</a>
                                        </label>
                                        <input type="radio" id="yindu" name="area" value="印度" v-on:click="getMoive">
                                        <label for="yindu">
                                            <a>印度</a>
                                        </label>
                                        <input type="radio" id="faguo" name="area" value="法国" v-on:click="getMoive">
                                        <label for="faguo">
                                            <a>法国</a>
                                        </label>
                                        <input type="radio" id="yingguo" name="area" value="英国" v-on:click="getMoive">
                                        <label for="yingguo">
                                            <a>英国</a>
                                        </label>
                                        <input type="radio" id="eluosi" name="area" value="俄罗斯" v-on:click="getMoive">
                                        <label for="eluosi">
                                            <a>俄罗斯</a>
                                        </label>
                                        <input type="radio" id="yidali" name="area" value="意大利" v-on:click="getMoive">
                                        <label for="yidali">
                                            <a>意大利</a>
                                        </label>
                                        <input type="radio" id="xibanya" name="area" value="西班牙" v-on:click="getMoive">
                                        <label for="xibanya">
                                            <a>西班牙</a>
                                        </label>
                                        <input type="radio" id="deguo" name="area" value="德国" v-on:click="getMoive">
                                        <label for="deguo">
                                            <a>德国</a>
                                        </label>
                                        <input type="radio" id="bolan" name="area" value="波兰" v-on:click="getMoive">
                                        <label for="bolan">
                                            <a>波兰</a>
                                        </label>
                                        <input type="radio" id="aodaliya" name="area" value="澳大利亚"
                                               v-on:click="getMoive">
                                        <label for="aodaliya">
                                            <a>澳大利亚</a>
                                        </label>
                                        <input type="radio" id="yilang" name="area" value="伊朗" v-on:click="getMoive">
                                        <label for="yilang">
                                            <a>伊朗</a>
                                        </label>
                                        <input type="radio" id="qita2" name="area" value="其他" v-on:click="getMoive">
                                        <label for="qita2">
                                            <a>其他</a>
                                        </label>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div>
                                    年代：
                                </div>
                                <ul class="lei_2">
                                    <li>
                                        <input type="radio" id="quanbu3" name="year" checked value=""
                                               v-on:click="getMoive">
                                        <label for="quanbu3">
                                            <a>全部</a>
                                        </label>
                                        <input type="radio" id="2020" name="year" value="2020" v-on:click="getMoive">
                                        <label for="2020">
                                            <a>2020</a>
                                        </label>
                                        <input type="radio" id="2019" name="year" value="2019" v-on:click="getMoive">
                                        <label for="2019">
                                            <a>2019</a>
                                        </label>
                                        <input type="radio" id="2018" name="year" value="2018" v-on:click="getMoive">
                                        <label for="2018">
                                            <a>2018</a>
                                        </label>
                                        <input type="radio" id="2017" name="year" value="2017" v-on:click="getMoive">
                                        <label for="2017">
                                            <a>2017</a>
                                        </label>
                                        <input type="radio" id="2016" name="year" value="2016" v-on:click="getMoive">
                                        <label for="2016">
                                            <a>2016</a>
                                        </label>
                                        <input type="radio" id="2015" name="year" value="2015" v-on:click="getMoive">
                                        <label for="2015">
                                            <a>2015</a>
                                        </label>
                                        <input type="radio" id="2014" name="year" value="2014" v-on:click="getMoive">
                                        <label for="2014">
                                            <a>2014</a>
                                        </label>
                                        <input type="radio" id="2013" name="year" value="2013" v-on:click="getMoive">
                                        <label for="2013">
                                            <a>2013</a>
                                        </label>
                                        <input type="radio" id="2012" name="year" value="2012" v-on:click="getMoive">
                                        <label for="2012">
                                            <a>2012</a>
                                        </label>
                                        <input type="radio" id="2011" name="year" value="2011" v-on:click="getMoive">
                                        <label for="2011">
                                            <a>2011</a>
                                        </label>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                <!-- 排序 -->
                    <div class="paixu">
                        <ul>
                            <li>
                                <input type="radio" id="anremen" name="paixu" checked value="1" v-on:click="getMoive">
                                <label for="anremen">
                                    <a>按热门排序</a>
                                </label>
                                <input type="radio" id="anshijian" name="paixu" checked value="2" v-on:click="getMoive">
                                <label for="anshijian">
                                    <a>按时间排序</a>
                                </label>
                                <input type="radio" id="anpingjia" name="paixu" checked value="3" v-on:click="getMoive">
                                <label for="anpingjia">
                                    <a>按评价排序</a>
                                </label>
                            </li>
                        </ul>
                    </div>
                </span>
            <!-- 影片 -->
            <div class="yingpian" id="bodyMovie">
                <dl>
                    <!-- 1 -->

                    <span v-for="(allmovie,index) in movie">
                        <dd v-if="(index + 1) % 6 == 0" style="margin-right: 0;margin-left: 3px;">
                       <div>
                            <a :href="'./dianyingxiangqing.html?movieId='+allmovie.movieId">
                                <img :src="allmovie.movieImg" alt="" style="width: 160px; height: 220px">
                            </a>
                            <a :href="'./yingyuanShop.html?movieId='+allmovie.movieId" v-if="allmovie.movieStatus==1||allmovie.movieStatus==2">购票</a>
                        </div>
                        <div>
                            <a :href="'./dianyingxiangqing.html?movieId='+allmovie.movieId">{{allmovie.movieName}}</a>
                        </div>
                        <div>
                            <i>{{allmovie.movieScore}}</i>
                        </div>
                             </dd>
                         <dd v-else>
                       <div>
                            <a :href="'./dianyingxiangqing.html?movieId='+allmovie.movieId">
                                <img :src="allmovie.movieImg" alt="" style="width: 160px; height: 220px">
                            </a>
                            <a :href="'./yingyuanShop.html?movieId='+allmovie.movieId" v-if="allmovie.movieStatus==1||allmovie.movieStatus==2">购票</a>
                        </div>
                        <div>
                            <a :href="'./dianyingxiangqing.html?movieId='+allmovie.movieId">{{allmovie.movieName}}</a>
                        </div>
                        <div>
                            <i>{{allmovie.movieScore}}</i>
                        </div>
                             </dd>
                        </span>


                    <!-- 2 -->

                </dl>
            </div>
            <!-- 页 -->
            <div class="ye">
                <ul>
                    <li>
                        <input type="radio" id="1" name="ye" checked>
                        <input type="radio" id="2" name="ye">
                        <input type="radio" id="下一页" name="ye">
                        <input type="radio" id="shangyiye" name="ye">
                        <label for="1">
                            <a>1</a>
                        </label>

                        <label for="2">
                            <a>2</a>
                        </label>

                        <label for="下一页">
                            <a>下一页</a>
                        </label>

                        <label for="shangyiye">
                            <a>上一页</a>
                        </label>
                    </li>
                </ul>
            </div>
        </article>
    </form>
</div>

<!-- 底部 -->
<footer>
    <p>
        商务合作邮箱：v@maoyan.com 客服电话：10105335 违法和不良信息举报电话：4006018900
    </p>
    <p>
        投诉举报邮箱：tousujubao@meituan.com 舞弊线索举报邮箱：wubijubao@maoyan.com
    </p>
    <p>
        友情链接 :
        <a href="#">美团网</a>
        <span></span>
        <a href="#">美团下载</a>
        <span></span>
        <a href="#">欢喜首映</a>
    </p>
    <p>
        ©2016猫眼电影 maoyan.com
        <a href="#">京ICP证160733号</a>
        <a href="#">京ICP备16022489号-1</a>
        <a href="#">京公网安备 11010102003232号</a>
        <a href="#">网络文化经营许可证</a>
        <a href="#">电子公告服务规则</a>
    </p>
    <p>
        北京猫眼文化传媒有限公司
    </p>
</footer>
<!-- 喵 -->
<a class="miao" href="./zajindan.html" target="blank">
</a>


<script>
    var movieStatus = new Vue({
        el: "#MovieStatus",
        data: {
            status: 1
        },
        methods: {
            getStatus: function (index) {
                console.log(index)
                $("#status").val(index);
                getAllMovie($("#formbody").serialize())
            },
        }

    })

    var headtype = new Vue({
        el: "#MovieType",
        data: {
            params: {
                offset: 0,
                limit: 30,
                status: 1,
                year: "",
                tId: 0,
                area: "",
                paixu: 1
            },
            movieType: []
        },
        methods: {


            getMoive: function () {

                console.log($("#formbody").serialize());
                getAllMovie($("#formbody").serialize())
            }

        },

        mounted: function () {
            let _this = this;

            $.get("/AllMovie/AllMovieType", null, function (type) {
                _this.movieType = type;
                console.log(type);
            })
        },
        beforeUpdate: function () {
            getAllMovie($("#formbody").serialize());
        }


    });


    var movieBody = new Vue({
        el: "#bodyMovie",
        data: {

            movie: [],

        },
    });

    var user = new Vue({
        el: "#user",
        data: {
            photo: '',
            userId:0,
        },
        beforeMount: function () {
            $.get("/user/selectUser", null, function (data) {
                user.photo = data.userPhoto
                user.userId=data.userId;
                console.log(user.userId);
            })
        },
    })

    function getAllMovie(data) {
        $.get("/AllMovie/Movie", data, function (data2) {
            console.log(movieStatus.status);

            headtype.status = movieStatus.status;
            console.log(headtype.status);
            data = headtype.params;
            movieBody.movie = data2.list;
            console.log(movieBody.movie);
        })
    }


</script>
</body>

</html>