<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>热点首页 - 猫眼电影 - 一网打尽好电影</title>
    <link rel="stylesheet" href="../CSS/normalize.css">
    <link rel="stylesheet" href="../CSS/redian.css">
    <link rel="shortcut icon" href="../IMG/Blogo.png" type="image/x-icon">
    <script src="/js/vue.js"></script>
    <script src="/business/JS/jquery-1.11.0.min.js"></script>
</head>

<body>

    <!-- 顶部 -->
    <header class="dingbu">
        <nav>
            <a href="#" class="logo"></a>
            <div class="xiala1 bian">
                <div class="xiala1_1">
                    <a href="#" class="cd">成都</a>
                    <span class="sanjiao"></span>
                    <ul>
                        <div class="xiala1_1_d">
                            定位城市：
                            <a href="#">成都</a>
                        </div>
                        <li>
                            <span>A</span>
                            <div>
                                <a href="#">阿拉善盟</a>
                                <a href="#">鞍山</a>
                                <a href="#">安庆</a>
                                <a href="#">安阳</a>
                                <a href="#">阿坝</a>
                                <a href="#">安顺</a>
                                <a href="#">安康</a>
                                <a href="#">阿勒泰</a>
                                <a href="#">阿克苏</a>
                                <a href="#">安吉</a>
                                <a href="#">安丘</a>
                                <a href="#">安岳</a>
                                <a href="#">安平</a>
                                <a href="#">安宁</a>
                                <a href="#">安溪</a>
                                <a href="#">安化</a>
                                <a href="#">阿勒泰市</a>
                                <a href="#">安福</a>
                            </div>
                        </li>
                        <li>
                            <span>B</span>
                            <div>
                                <a href="#">北京</a>
                                <a href="#">保定</a>
                                <a href="#">蚌埠</a>
                                <a href="#">包头</a>
                                <a href="#">本溪</a>
                                <a href="#">巴彦淖尔</a>
                                <a href="#">白城</a>
                                <a href="#">白山</a>
                                <a href="#">毫州</a>
                                <a href="#">滨州</a>
                                <a href="#">巴中</a>
                                <a href="#">北海</a>
                                <a href="#">百色</a>
                                <a href="#">毕节</a>
                                <a href="#">保山</a>
                                <a href="#">宝鸡</a>
                                <a href="#">白银</a>
                                <a href="#">巴州</a>
                                <a href="#">博尔塔拉</a>
                                <a href="#">滨海</a>
                                <a href="#">宝应</a>
                                <a href="#">北流</a>
                                <a href="#">博爱</a>
                                <a href="#">北碚</a>
                                <a href="#">宝丰</a>
                                <a href="#">洣阳</a>
                                <a href="#">博兴</a>
                                <a href="#">博山</a>
                                <a href="#">璧山</a>
                                <a href="#">彬县</a>
                                <a href="#">宾阳</a>
                                <a href="#">博白县</a>
                                <a href="#">博罗县</a>
                                <a href="#">北镇市</a>
                                <a href="#">泊头市</a>
                                <a href="#">北京市</a>
                                <a href="#">巴彦县</a>
                            </div>
                        </li>
                        <li>
                            <span>C</span>
                            <div>
                                <a href="#">重庆</a>
                                <a href="#">成都</a>
                                <a href="#">长沙</a>
                                <a href="#">常州</a>
                                <a href="#">长春</a>
                                <a href="#">沧州</a>
                                <a href="#">承德</a>
                                <a href="#">赤峰</a>
                                <a href="#">长治</a>
                                <a href="#">朝阳</a>
                                <a href="#">池州</a>
                                <a href="#">巢湖</a>
                                <a href="#">滁州</a>
                                <a href="#">潮州</a>
                                <a href="#">郴州</a>
                                <a href="#">常德</a>
                                <a href="#">崇左</a>
                                <a href="#">楚雄</a>
                                <a href="#">昌吉</a>
                                <a href="#">从化</a>
                                <a href="#">常熟</a>
                                <a href="#">长乐</a>
                                <a href="#">长兴</a>
                                <a href="#">慈溪</a>
                                <a href="#">昌邑</a>
                                <a href="#">长葛</a>
                                <a href="#">苍南</a>
                                <a href="#">承德县</a>
                                <a href="#">赤壁</a>
                                <a href="#">崇州</a>
                                <a href="#">淳安</a>
                                <a href="#">曹妃甸</a>
                                <a href="#">昌乐</a>
                                <a href="#">磁县</a>
                                <a href="#">昌黎</a>
                                <a href="#">岑溪</a>
                                <a href="#">成安</a>
                                <a href="#">长垣</a>
                                <a href="#">曹县</a>
                                <a href="#">城阳</a>
                                <a href="#">茌平</a>
                                <a href="#">长汀</a>
                                <a href="#">城固</a>
                                <a href="#">赤水</a>
                                <a href="#">常山</a>
                                <a href="#">长寿</a>
                                <a href="#">潮安</a>
                                <a href="#">潮阳</a>
                                <a href="#">澄海</a>
                                <a href="#">长丰县</a>
                                <a href="#">茶陵</a>
                                <a href="#">常宁市</a>
                                <a href="#">苍溪县</a>
                                <a href="#">慈利</a>
                                <a href="#">长清区</a>
                                <a href="#">崇明区</a>
                                <a href="#">成武县</a>
                                <a href="#">澄江县</a>
                            </div>
                        </li>
                        <li>
                            <span>D</span>
                            <div>
                                <a href="#">阿拉善盟</a>
                                <a href="#">鞍山</a>
                                <a href="#">安庆</a>
                                <a href="#">安阳</a>
                                <a href="#">阿坝</a>
                                <a href="#">安顺</a>
                                <a href="#">安康</a>
                                <a href="#">阿勒泰</a>
                                <a href="#">阿克苏</a>
                                <a href="#">安吉</a>
                                <a href="#">安丘</a>
                                <a href="#">安岳</a>
                                <a href="#">安平</a>
                                <a href="#">安宁</a>
                                <a href="#">安溪</a>
                                <a href="#">安化</a>
                                <a href="#">阿勒泰市</a>
                                <a href="#">安福</a>
                            </div>
                        </li>
                        <li>
                            <span>E</span>
                            <div>
                                <a href="#">阿拉善盟</a>
                                <a href="#">鞍山</a>
                                <a href="#">安庆</a>
                                <a href="#">安阳</a>
                                <a href="#">阿坝</a>
                                <a href="#">安顺</a>
                                <a href="#">安康</a>
                                <a href="#">阿勒泰</a>
                                <a href="#">阿克苏</a>
                                <a href="#">安吉</a>
                                <a href="#">安丘</a>
                                <a href="#">安岳</a>
                                <a href="#">安平</a>
                                <a href="#">安宁</a>
                                <a href="#">安溪</a>
                                <a href="#">安化</a>
                                <a href="#">阿勒泰市</a>
                                <a href="#">安福</a>
                            </div>
                        </li>
                        <li>
                            <span>F</span>
                            <div>
                                <a href="#">阿拉善盟</a>
                                <a href="#">鞍山</a>
                                <a href="#">安庆</a>
                                <a href="#">安阳</a>
                                <a href="#">阿坝</a>
                                <a href="#">安顺</a>
                                <a href="#">安康</a>
                                <a href="#">阿勒泰</a>
                                <a href="#">阿克苏</a>
                                <a href="#">安吉</a>
                                <a href="#">安丘</a>
                                <a href="#">安岳</a>
                                <a href="#">安平</a>
                                <a href="#">安宁</a>
                                <a href="#">安溪</a>
                                <a href="#">安化</a>
                                <a href="#">阿勒泰市</a>
                                <a href="#">安福</a>
                            </div>
                        </li>
                        <li>
                            <span>G</span>
                            <div>
                                <a href="#">阿拉善盟</a>
                                <a href="#">鞍山</a>
                                <a href="#">安庆</a>
                                <a href="#">安阳</a>
                                <a href="#">阿坝</a>
                                <a href="#">安顺</a>
                                <a href="#">安康</a>
                                <a href="#">阿勒泰</a>
                                <a href="#">阿克苏</a>
                                <a href="#">安吉</a>
                                <a href="#">安丘</a>
                                <a href="#">安岳</a>
                                <a href="#">安平</a>
                                <a href="#">安宁</a>
                                <a href="#">安溪</a>
                                <a href="#">安化</a>
                                <a href="#">阿勒泰市</a>
                                <a href="#">安福</a>
                            </div>
                        </li>
                        <li>
                            <span>H</span>
                            <div>
                                <a href="#">阿拉善盟</a>
                                <a href="#">鞍山</a>
                                <a href="#">安庆</a>
                                <a href="#">安阳</a>
                                <a href="#">阿坝</a>
                                <a href="#">安顺</a>
                                <a href="#">安康</a>
                                <a href="#">阿勒泰</a>
                                <a href="#">阿克苏</a>
                                <a href="#">安吉</a>
                                <a href="#">安丘</a>
                                <a href="#">安岳</a>
                                <a href="#">安平</a>
                                <a href="#">安宁</a>
                                <a href="#">安溪</a>
                                <a href="#">安化</a>
                                <a href="#">阿勒泰市</a>
                                <a href="#">安福</a>
                            </div>
                        </li>
                        <li>
                            <span>I</span>
                            <div>
                                <a href="#">阿拉善盟</a>
                                <a href="#">鞍山</a>
                                <a href="#">安庆</a>
                                <a href="#">安阳</a>
                                <a href="#">阿坝</a>
                                <a href="#">安顺</a>
                                <a href="#">安康</a>
                                <a href="#">阿勒泰</a>
                                <a href="#">阿克苏</a>
                                <a href="#">安吉</a>
                                <a href="#">安丘</a>
                                <a href="#">安岳</a>
                                <a href="#">安平</a>
                                <a href="#">安宁</a>
                                <a href="#">安溪</a>
                                <a href="#">安化</a>
                                <a href="#">阿勒泰市</a>
                                <a href="#">安福</a>
                            </div>
                        </li>
                        <li>
                            <span>J</span>
                            <div>
                                <a href="#">阿拉善盟</a>
                                <a href="#">鞍山</a>
                                <a href="#">安庆</a>
                                <a href="#">安阳</a>
                                <a href="#">阿坝</a>
                                <a href="#">安顺</a>
                                <a href="#">安康</a>
                                <a href="#">阿勒泰</a>
                                <a href="#">阿克苏</a>
                                <a href="#">安吉</a>
                                <a href="#">安丘</a>
                                <a href="#">安岳</a>
                                <a href="#">安平</a>
                                <a href="#">安宁</a>
                                <a href="#">安溪</a>
                                <a href="#">安化</a>
                                <a href="#">阿勒泰市</a>
                                <a href="#">安福</a>
                            </div>
                        </li>
                        <li>
                            <span>K</span>
                            <div>
                                <a href="#">阿拉善盟</a>
                                <a href="#">鞍山</a>
                                <a href="#">安庆</a>
                                <a href="#">安阳</a>
                                <a href="#">阿坝</a>
                                <a href="#">安顺</a>
                                <a href="#">安康</a>
                                <a href="#">阿勒泰</a>
                                <a href="#">阿克苏</a>
                                <a href="#">安吉</a>
                                <a href="#">安丘</a>
                                <a href="#">安岳</a>
                                <a href="#">安平</a>
                                <a href="#">安宁</a>
                                <a href="#">安溪</a>
                                <a href="#">安化</a>
                                <a href="#">阿勒泰市</a>
                                <a href="#">安福</a>
                            </div>
                        </li>
                        <li>
                            <span>L</span>
                            <div>
                                <a href="#">阿拉善盟</a>
                                <a href="#">鞍山</a>
                                <a href="#">安庆</a>
                                <a href="#">安阳</a>
                                <a href="#">阿坝</a>
                                <a href="#">安顺</a>
                                <a href="#">安康</a>
                                <a href="#">阿勒泰</a>
                                <a href="#">阿克苏</a>
                                <a href="#">安吉</a>
                                <a href="#">安丘</a>
                                <a href="#">安岳</a>
                                <a href="#">安平</a>
                                <a href="#">安宁</a>
                                <a href="#">安溪</a>
                                <a href="#">安化</a>
                                <a href="#">阿勒泰市</a>
                                <a href="#">安福</a>
                            </div>
                        </li>
                        <li>
                            <span>M</span>
                            <div>
                                <a href="#">阿拉善盟</a>
                                <a href="#">鞍山</a>
                                <a href="#">安庆</a>
                                <a href="#">安阳</a>
                                <a href="#">阿坝</a>
                                <a href="#">安顺</a>
                                <a href="#">安康</a>
                                <a href="#">阿勒泰</a>
                                <a href="#">阿克苏</a>
                                <a href="#">安吉</a>
                                <a href="#">安丘</a>
                                <a href="#">安岳</a>
                                <a href="#">安平</a>
                                <a href="#">安宁</a>
                                <a href="#">安溪</a>
                                <a href="#">安化</a>
                                <a href="#">阿勒泰市</a>
                                <a href="#">安福</a>
                            </div>
                        </li>
                        <li>
                            <span>N</span>
                            <div>
                                <a href="#">阿拉善盟</a>
                                <a href="#">鞍山</a>
                                <a href="#">安庆</a>
                                <a href="#">安阳</a>
                                <a href="#">阿坝</a>
                                <a href="#">安顺</a>
                                <a href="#">安康</a>
                                <a href="#">阿勒泰</a>
                                <a href="#">阿克苏</a>
                                <a href="#">安吉</a>
                                <a href="#">安丘</a>
                                <a href="#">安岳</a>
                                <a href="#">安平</a>
                                <a href="#">安宁</a>
                                <a href="#">安溪</a>
                                <a href="#">安化</a>
                                <a href="#">阿勒泰市</a>
                                <a href="#">安福</a>
                            </div>
                        </li>
                        <li>
                            <span>O</span>
                            <div>
                                <a href="#">阿拉善盟</a>
                                <a href="#">鞍山</a>
                                <a href="#">安庆</a>
                                <a href="#">安阳</a>
                                <a href="#">阿坝</a>
                                <a href="#">安顺</a>
                                <a href="#">安康</a>
                                <a href="#">阿勒泰</a>
                                <a href="#">阿克苏</a>
                                <a href="#">安吉</a>
                                <a href="#">安丘</a>
                                <a href="#">安岳</a>
                                <a href="#">安平</a>
                                <a href="#">安宁</a>
                                <a href="#">安溪</a>
                                <a href="#">安化</a>
                                <a href="#">阿勒泰市</a>
                                <a href="#">安福</a>
                            </div>
                        </li>
                        <li>
                            <span>P</span>
                            <div>
                                <a href="#">阿拉善盟</a>
                                <a href="#">鞍山</a>
                                <a href="#">安庆</a>
                                <a href="#">安阳</a>
                                <a href="#">阿坝</a>
                                <a href="#">安顺</a>
                                <a href="#">安康</a>
                                <a href="#">阿勒泰</a>
                                <a href="#">阿克苏</a>
                                <a href="#">安吉</a>
                                <a href="#">安丘</a>
                                <a href="#">安岳</a>
                                <a href="#">安平</a>
                                <a href="#">安宁</a>
                                <a href="#">安溪</a>
                                <a href="#">安化</a>
                                <a href="#">阿勒泰市</a>
                                <a href="#">安福</a>
                            </div>
                        </li>
                        <li>
                            <span>Q</span>
                            <div>
                                <a href="#">阿拉善盟</a>
                                <a href="#">鞍山</a>
                                <a href="#">安庆</a>
                                <a href="#">安阳</a>
                                <a href="#">阿坝</a>
                                <a href="#">安顺</a>
                                <a href="#">安康</a>
                                <a href="#">阿勒泰</a>
                                <a href="#">阿克苏</a>
                                <a href="#">安吉</a>
                                <a href="#">安丘</a>
                                <a href="#">安岳</a>
                                <a href="#">安平</a>
                                <a href="#">安宁</a>
                                <a href="#">安溪</a>
                                <a href="#">安化</a>
                                <a href="#">阿勒泰市</a>
                                <a href="#">安福</a>
                            </div>
                        </li>
                        <li>
                            <span>R</span>
                            <div>
                                <a href="#">阿拉善盟</a>
                                <a href="#">鞍山</a>
                                <a href="#">安庆</a>
                                <a href="#">安阳</a>
                                <a href="#">阿坝</a>
                                <a href="#">安顺</a>
                                <a href="#">安康</a>
                                <a href="#">阿勒泰</a>
                                <a href="#">阿克苏</a>
                                <a href="#">安吉</a>
                                <a href="#">安丘</a>
                                <a href="#">安岳</a>
                                <a href="#">安平</a>
                                <a href="#">安宁</a>
                                <a href="#">安溪</a>
                                <a href="#">安化</a>
                                <a href="#">阿勒泰市</a>
                                <a href="#">安福</a>
                            </div>
                        </li>
                        <li>
                            <span>S</span>
                            <div>
                                <a href="#">阿拉善盟</a>
                                <a href="#">鞍山</a>
                                <a href="#">安庆</a>
                                <a href="#">安阳</a>
                                <a href="#">阿坝</a>
                                <a href="#">安顺</a>
                                <a href="#">安康</a>
                                <a href="#">阿勒泰</a>
                                <a href="#">阿克苏</a>
                                <a href="#">安吉</a>
                                <a href="#">安丘</a>
                                <a href="#">安岳</a>
                                <a href="#">安平</a>
                                <a href="#">安宁</a>
                                <a href="#">安溪</a>
                                <a href="#">安化</a>
                                <a href="#">阿勒泰市</a>
                                <a href="#">安福</a>
                            </div>
                        </li>
                        <li>
                            <span>T</span>
                            <div>
                                <a href="#">阿拉善盟</a>
                                <a href="#">鞍山</a>
                                <a href="#">安庆</a>
                                <a href="#">安阳</a>
                                <a href="#">阿坝</a>
                                <a href="#">安顺</a>
                                <a href="#">安康</a>
                                <a href="#">阿勒泰</a>
                                <a href="#">阿克苏</a>
                                <a href="#">安吉</a>
                                <a href="#">安丘</a>
                                <a href="#">安岳</a>
                                <a href="#">安平</a>
                                <a href="#">安宁</a>
                                <a href="#">安溪</a>
                                <a href="#">安化</a>
                                <a href="#">阿勒泰市</a>
                                <a href="#">安福</a>
                            </div>
                        </li>
                        <li>
                            <span>U</span>
                            <div>
                                <a href="#">阿拉善盟</a>
                                <a href="#">鞍山</a>
                                <a href="#">安庆</a>
                                <a href="#">安阳</a>
                                <a href="#">阿坝</a>
                                <a href="#">安顺</a>
                                <a href="#">安康</a>
                                <a href="#">阿勒泰</a>
                                <a href="#">阿克苏</a>
                                <a href="#">安吉</a>
                                <a href="#">安丘</a>
                                <a href="#">安岳</a>
                                <a href="#">安平</a>
                                <a href="#">安宁</a>
                                <a href="#">安溪</a>
                                <a href="#">安化</a>
                                <a href="#">阿勒泰市</a>
                                <a href="#">安福</a>
                            </div>
                        </li>
                        <li>
                            <span>V</span>
                            <div>
                                <a href="#">阿拉善盟</a>
                                <a href="#">鞍山</a>
                                <a href="#">安庆</a>
                                <a href="#">安阳</a>
                                <a href="#">阿坝</a>
                                <a href="#">安顺</a>
                                <a href="#">安康</a>
                                <a href="#">阿勒泰</a>
                                <a href="#">阿克苏</a>
                                <a href="#">安吉</a>
                                <a href="#">安丘</a>
                                <a href="#">安岳</a>
                                <a href="#">安平</a>
                                <a href="#">安宁</a>
                                <a href="#">安溪</a>
                                <a href="#">安化</a>
                                <a href="#">阿勒泰市</a>
                                <a href="#">安福</a>
                            </div>
                        </li>
                        <li>
                            <span>W</span>
                            <div>
                                <a href="#">阿拉善盟</a>
                                <a href="#">鞍山</a>
                                <a href="#">安庆</a>
                                <a href="#">安阳</a>
                                <a href="#">阿坝</a>
                                <a href="#">安顺</a>
                                <a href="#">安康</a>
                                <a href="#">阿勒泰</a>
                                <a href="#">阿克苏</a>
                                <a href="#">安吉</a>
                                <a href="#">安丘</a>
                                <a href="#">安岳</a>
                                <a href="#">安平</a>
                                <a href="#">安宁</a>
                                <a href="#">安溪</a>
                                <a href="#">安化</a>
                                <a href="#">阿勒泰市</a>
                                <a href="#">安福</a>
                            </div>
                        </li>
                        <li>
                            <span>X</span>
                            <div>
                                <a href="#">阿拉善盟</a>
                                <a href="#">鞍山</a>
                                <a href="#">安庆</a>
                                <a href="#">安阳</a>
                                <a href="#">阿坝</a>
                                <a href="#">安顺</a>
                                <a href="#">安康</a>
                                <a href="#">阿勒泰</a>
                                <a href="#">阿克苏</a>
                                <a href="#">安吉</a>
                                <a href="#">安丘</a>
                                <a href="#">安岳</a>
                                <a href="#">安平</a>
                                <a href="#">安宁</a>
                                <a href="#">安溪</a>
                                <a href="#">安化</a>
                                <a href="#">阿勒泰市</a>
                                <a href="#">安福</a>
                            </div>
                        </li>
                        <li>
                            <span>Y</span>
                            <div>
                                <a href="#">阿拉善盟</a>
                                <a href="#">鞍山</a>
                                <a href="#">安庆</a>
                                <a href="#">安阳</a>
                                <a href="#">阿坝</a>
                                <a href="#">安顺</a>
                                <a href="#">安康</a>
                                <a href="#">阿勒泰</a>
                                <a href="#">阿克苏</a>
                                <a href="#">安吉</a>
                                <a href="#">安丘</a>
                                <a href="#">安岳</a>
                                <a href="#">安平</a>
                                <a href="#">安宁</a>
                                <a href="#">安溪</a>
                                <a href="#">安化</a>
                                <a href="#">阿勒泰市</a>
                                <a href="#">安福</a>
                            </div>
                        </li>
                        <li>
                            <span>Z</span>
                            <div>
                                <a href="#">阿拉善盟</a>
                                <a href="#">鞍山</a>
                                <a href="#">安庆</a>
                                <a href="#">安阳</a>
                                <a href="#">阿坝</a>
                                <a href="#">安顺</a>
                                <a href="#">安康</a>
                                <a href="#">阿勒泰</a>
                                <a href="#">阿克苏</a>
                                <a href="#">安吉</a>
                                <a href="#">安丘</a>
                                <a href="#">安岳</a>
                                <a href="#">安平</a>
                                <a href="#">安宁</a>
                                <a href="#">安溪</a>
                                <a href="#">安化</a>
                                <a href="#">阿勒泰市</a>
                                <a href="#">安福</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="navbar">
                <li>
                    <a href="./index.html">首页</a>
                </li>
                <li>
                    <a href="./dianying.html">电影</a>
                </li>
                <li>
                    <a href="./yingyuan.html">影院</a>
                </li>
                <li>
                    <a href="./bangdan.html">榜单</a>
                </li>
                <li>
                    <a href="./redian.html">热点</a>
                </li>
            </ul>
            <div class="shouji bian">
                <span class="shouji_1"></span>
                <span>APP下载</span>
                <span class="sanjiao"></span>
                <div class="shouji1">
                    <div>
                        <div></div>
                    </div>
                    <p>扫码下载APP</p>
                    <p>选座更优惠</p>
                </div>
            </div>
            <div class="sousuo">
                <input class="sousuo_1" type="search" maxlength="32" placeholder="找影视剧、影人、影院" autocomplete="off">
                <input class="sousuo_2" type="submit" value="">
            </div>
            <div class="denglu bian" id="user">
                <a href="/jifen/index.html">
                    <img :src="photo" alt="" style="width:50px; height:50px;border-radius: 50%">
                </a>
                <span class="sanjiao"></span>

                <div  v-if="userId==0">
                    <a href="/user/accountLogin">登陆</a>
                </div>
                <div  v-if="userId==''">
                    <a href="/user/accountLogin">登陆</a>
                </div>
                <div  v-if="userId==null">
                    <a href="/user/accountLogin">登陆</a>
                </div>
                <div  v-else>
                    <a href="/user/logout">注销</a>
                </div>
            </div>
        </nav>
    </header>
    <!-- 热点 -->
    <div class="header">
        <ul>
            <li>
                <a href="#">热点首页</a>
            </li>
            <li>
                <a href="#">新闻资讯</a>
            </li>
            <li>
                <a href="#">预告片</a>
            </li>
            <li>
                <a href="#">精彩图集</a>
            </li>
        </ul>
    </div>
    <!-- 主体内容 -->
    <div class="main">
        <div class="mian1">
            <article>
                <div class="zhuL1">
                    <div class="zhuL1_1">
                        <span class="zhuL1_1_1">正在热映</span>
                        <span class="zhuL1_1_2">
                            <a href="#">全部</a>
                            <span class="zhuL1_1_2_2"></span>
                        </span>
                    </div>
                    <div class="zhuL1_2">
                        <!-- 1 -->
                        <div class="zhuL1_21">
                            <div class="zhuL1_21_1">
                                <a href="./dilireba.html">
                                    <img src="../IMG/redian_L3.jpg" alt="">
                                </a>
                            </div>
                            <p>
                                <a href="./dilireba.html">
                                    迪丽热巴一身小粉裙亮相，腰真的太细了，路人镜头下她也这么美
                                </a>
                            </p>
                            <p>
                                <span>猫眼电影</span>
                                <span>2907</span>
                            </p>

                        </div>
                        <!-- 2 -->
                        <div class="zhuL1_21">
                            <div class="zhuL1_21_1">
                                <a href="#">
                                    <img src="../IMG/redian_L2.jpg" alt="">
                                </a>
                            </div>
                            <p>
                                <a href="#">
                                    赵薇穿吊带睡衣拍写真，身材瘦了好多，自称一个月减掉20斤
                                </a>
                            </p>
                            <p>
                                <span>猫眼电影</span>
                                <span>68</span>
                            </p>
                        </div>
                        <!-- 3 -->
                        <div class="zhuL1_21">
                            <div class="zhuL1_21_1">
                                <a href="#">
                                    <img src="../IMG/redian_L1.jpg" alt="">
                                </a>
                            </div>
                            <p>
                                <a href="#">
                                    喵喵首映礼 | 能见集卷福和男神潘宠爱于一身的ta，只有这次！
                                </a>
                            </p>
                            <p>
                                <span>猫眼电影</span>
                                <span>822</span>
                            </p>
                        </div>
                        <!-- 4 -->
                        <div class="zhuL1_21">
                            <div class="zhuL1_21_1">
                                <a href="#">
                                    <img src="../IMG/redian_L4.jpg" alt="">
                                </a>
                            </div>
                            <p>
                                <a href="#">
                                    刘晓庆为还天价债务做“横店第一漂”，曾给刘涛演过丫环
                                </a>
                            </p>
                            <p>
                                <span>猫眼电影</span>
                                <span>2092</span>
                            </p>
                        </div>
                        <!-- 5 -->
                        <div class="zhuL1_21">
                            <div class="zhuL1_21_1">
                                <a href="#">
                                    <img src="../IMG/redian_L5.jpg" alt="">
                                </a>
                            </div>
                            <p>
                                <a href="#">
                                    贺岁话题喜剧《手机狂响》曝新海报，田雨代乐乐揭夫妻手机那些事
                                </a>
                            </p>
                            <p>
                                <span>猫眼电影</span>
                                <span>2826</span>
                            </p>
                        </div>
                        <!-- 6 -->
                        <div class="zhuL1_21">
                            <div class="zhuL1_21_1">
                                <a href="#">
                                    <img src="../IMG/redian_L6.png" alt="">
                                </a>
                            </div>
                            <p>
                                <a href="#">
                                    风波半年后李晨首次出席活动，力挺好友新片极其低调
                                </a>
                            </p>
                            <p>
                                <span>猫眼电影</span>
                                <span>1954</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="zhuL2">
                    <div class="zhuL2_1">
                        <span class="zhuL2_1_1">
                            预告片速递
                        </span>
                        <span class="zhuL2_1_2">
                            <a href="#">全部</a>
                            <span class="zhuL2_1_2_2"></span>
                        </span>
                    </div>
                    <div class="zhuL2_2">
                        <!-- 1 -->
                        <div class="zhuL2_21">
                            <a href="../VIDEO/R-1.mp4">
                                <img src="../IMG/redian_2_1.jpg" alt="">
                            </a>
                            <p>
                                <a href="../HTML/quanzhimama1.html" target="blank">《拳职妈妈》剧情版</a>
                            </p>
                            <span>62</span>
                            <a href="#" class="bo_fang"></a>
                        </div>
                        <!-- 2 -->
                        <div class="zhuL2_22 zhuL2_22_1">
                            <a href="../VIDEO/R-2.mp4">
                                <img src="../IMG/redian_2_2.jpg" alt="">
                            </a>
                            <p>
                                <a href="../VIDEO/R-2.mp4">《拳职妈妈》精华版</a>
                            </p>
                            <span>22</span>
                            <a href="#" class="bo_fang"></a>
                        </div>
                        <!-- 3 -->
                        <div class="zhuL2_22 zhuL2_22_2">
                            <a href="../VIDEO/aibu.mp4">
                                <img src="../IMG/redian_2_3.jpg" alt="">
                            </a>
                            <p>
                                <a href="../VIDEO/aibu.mp4">《爱不可及》时光之海预告片</a>
                            </p>
                            <span>87</span>
                            <a href="#" class="bo_fang"></a>
                        </div>
                        <!-- 4 -->
                        <div class="zhuL2_22 zhuL2_22_3">
                            <a href="../VIDEO/randian.mp4">
                                <img src="../IMG/redian_2_4.jpg" alt="">
                            </a>
                            <p>
                                <a href="../VIDEO/randian.mp4">《燃点》定档预告</a>
                            </p>
                            <span>373</span>
                            <a href="#" class="bo_fang"></a>
                        </div>
                        <!-- 5 -->
                        <div class="zhuL2_22 zhuL2_22_4">
                            <a href="../VIDEO/jiaxi.mp4">
                                <img src="../IMG/redian_2_5.jpg" alt="">
                            </a>
                            <p>
                                <a href="../VIDEO/jiaxi.mp4" title="《假戏真作》《真人秀恐怖事件之假戏真作》预告片">《假戏真作》《真人秀恐怖...</a>
                            </p>
                            <span>373</span>
                            <a href="#" class="bo_fang"></a>
                        </div>
                        <!-- 6 -->
                        <div class="zhuL2_22 zhuL2_22_4 zhuL2_22_5">
                            <a href="../VIDEO/zhizhu.mp4">
                                <img src="../IMG/redian_2_6.png" alt="">
                            </a>
                            <p>
                                <a href="../VIDEO/zhizhu.mp4" title="《蜘蛛侠：平行宇宙》蜘蛛侠超长片段惊艳四座，观众狂呼看不够！">《蜘蛛侠：平行宇宙》蜘蛛...</a>
                            </p>
                            <span>62</span>
                            <a href="#" class="bo_fang"></a>
                        </div>
                    </div>
                </div>
                <div class="zhuL3">
                    <div class="zhuL3_1">
                        <span class="zhuL3_1_1">
                            预告片速递
                        </span>
                        <span class="zhuL3_1_2">
                            <a href="#">全部</a>
                            <span class="zhuL3_1_2_2"></span>
                        </span>
                    </div>
                    <div class="zhuL3_2">
                        <!-- 1 -->
                        <div class="zhuL3_2_1">
                            <div class="zhuL3_2_11">
                                <a href="#">
                                    <img src="../IMG/redian_L3_1.jpg" alt="">
                                </a>
                            </div>
                            <div class="zhuL3_2_12">
                                <div>
                                    <a href="#">
                                        <img src="../IMG/redian_L3_2.jpg" alt="">
                                    </a>
                                </div>
                                <div>
                                    <a href="#">
                                        <img src="../IMG/redian_L3_2.jpg" alt="">
                                    </a>
                                    <a href="#">9张图片</a>
                                </div>
                            </div>
                            <div class="zhuL3_2_13">
                                <a href="#" title="井柏然登《VogueMe》12月封面，随性惬意尽享悠闲时光">
                                    井柏然登《VogueMe》12月封面，随性惬意尽享悠闲...
                                </a>
                                <p>
                                    <span>1501</span>
                                </p>
                            </div>
                        </div>
                        <!-- 2 -->
                        <div class="zhuL3_2_1">
                            <div class="zhuL3_2_11">
                                <a href="#">
                                    <img src="../IMG/redian_L3_4.jpg" alt="">
                                </a>
                            </div>
                            <div class="zhuL3_2_12">
                                <div>
                                    <a href="#">
                                        <img src="../IMG/redian_L3_5.jpg" alt="">
                                    </a>
                                </div>
                                <div>
                                    <a href="#">
                                        <img src="../IMG/redian_L3_5.jpg" alt="">
                                    </a>
                                    <a href="#">9张图片</a>
                                </div>
                            </div>
                            <div class="zhuL3_2_13">
                                <a href="#">
                                    井柏然封面大片曝光，全新造型大胆突破炫酷十足
                                </a>
                                <p>
                                    <span>1935</span>
                                </p>
                            </div>
                        </div>
                        <!-- 3 -->
                        <div class="zhuL3_2_1">
                            <div class="zhuL3_2_11">
                                <a href="#">
                                    <img src="../IMG/redian_L3_7.jpg" alt="">
                                </a>
                            </div>
                            <div class="zhuL3_2_12">
                                <div>
                                    <a href="#">
                                        <img src="../IMG/redian_L3_8.jpg" alt="">
                                    </a>
                                </div>
                                <div>
                                    <a href="#">
                                        <img src="../IMG/redian_L3_8.jpg" alt="">
                                    </a>
                                    <a href="#">9张图片</a>
                                </div>
                            </div>
                            <div class="zhuL3_2_13">

                                <a href="#" title="井柏然登《VogueMe》12月封面，随性惬意尽享悠闲时光">
                                    刘昊然全新《智族GQ》封面大片，时尚成绩亮眼迈向...
                                </a>
                                <p>
                                    <span>1683</span>
                                </p>
                            </div>
                        </div>
                        <!-- 4 -->
                        <div class="zhuL3_2_1">
                            <div class="zhuL3_2_11">
                                <a href="#">
                                    <img src="../IMG/redian_L3_10.jpg" alt="">
                                </a>
                            </div>
                            <div class="zhuL3_2_12">
                                <div>
                                    <a href="#">
                                        <img src="../IMG/redian_L3_11.jpg" alt="">
                                    </a>
                                </div>
                                <div>
                                    <a href="#">
                                        <img src="../IMG/redian_L3_11.jpg" alt="">
                                    </a>
                                    <a href="#">
                                        9张图片
                                    </a>
                                </div>
                            </div>
                            <div class="zhuL3_2_13">
                                <a href="#" title="马天宇《时尚先生》封面大片来袭，巴黎街头尽展儒雅绅士范儿">
                                    马天宇《时尚先生》封面大片来袭，巴黎街头尽展儒雅...
                                </a>
                                <p>
                                    <span>1318</span>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </article>
            <aside>
                <div class="zhuR_1">
                    <h3>热门资讯</h3>
                    <ul>
                        <li>
                            <div>
                                <a href="#">
                                    <img src="../IMG/redian_R1.jpg" alt="">
                                    <i>1</i>
                                </a>
                            </div>
                            <div>
                                <a href="#" title="周星驰《新喜剧之王》大战春节档，“七大武器之首”再现江湖">周星驰《新喜剧之王》大战春节档，“七大武器之首”再现江湖</a>
                            </div>
                        </li>
                        <li>
                            <i class="ih">2</i>
                            <a href="#">漫威《复联4》将有大事发生，10个角色可能复活...</a>
                        </li>
                        <li>
                            <i class="ih">3</i>
                            <a href="#">《云南虫谷》新海报“别有洞天” ，摸金小队勇闯...</a>
                        </li>
                        <li>
                            <i>4</i>
                            <a href="#">专访蓝盈莹：自认是被演戏耽误的卫生间歌手</a>
                        </li>
                        <li>
                            <i>5</i>
                            <a href="#">《叶问外传：张天志》痛击毒贩 ，12月21日捍卫道...</a>
                        </li>
                        <li>
                            <i>6</i>
                            <a href="#">《蜘蛛侠：平行宇宙》神仙口碑，索尼开挂将又出...</a>
                        </li>
                        <li>
                            <i>7</i>
                            <a href="#">罗素兄弟解密复联4，这一连串消息足够逼疯漫威粉...</a>
                        </li>
                        <li>
                            <i>8</i>
                            <a href="#">《海王》“改潮换代”版预告见证王者诞生，上天入...</a>
                        </li>
                        <li>
                            <i>9</i>
                            <a href="#">马丽被手机“逼疯”？ 《手机狂响》引“看不看伴...</a>
                        </li>
                        <li>
                            <i>10</i>
                            <a href="#">《海王》发中国版终极预告海报，海量大战新画...</a>
                        </li>
                    </ul>
                </div>
                <div class="zhuR_2">
                    <h3>热门预告片</h3>
                    <ul>
                        <li>
                            <div>
                                <a href="../VIDEO/wuming.mp4">
                                    <img src="../IMG/redian_R2_1.jpg" alt="">
                                    <i class="hang">1</i>
                                    <span></span>
                                </a>
                            </div>
                            <div>
                                <a href="../VIDEO/wuming.mp4">
                                    《无名之辈》终极版预告片 陈建...
                                </a>
                                <p>
                                    <span>394.7</span>
                                    <span>万</span>
                                </p>
                            </div>
                        </li>
                        <!-- 2 -->
                        <li>
                            <div>
                                <a href="#">
                                    <img src="../IMG/redian_R2_2.jpg" alt="">
                                    <i class="hang">2</i>
                                    <span></span>
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    《老爸102岁》《老爸102岁》今...
                                </a>
                                <p>
                                    <span>91439</span>
                                    <span></span>
                                </p>
                            </div>
                        </li>
                        <!-- 3 -->
                        <li>
                            <div>
                                <a href="../VIDEO/haiwang.mp4">
                                    <img src="../IMG/redian_R2_3.jpg" alt="">
                                    <i class="hang">3</i>
                                    <span></span>
                                </a>
                            </div>
                            <div>
                                <a href="../VIDEO/haiwang.mp4">
                                    《海王》中国版终极预告震撼亮相...
                                </a>
                                <p>
                                    <span>22.5</span>
                                    <span>万</span>
                                </p>
                            </div>
                        </li>
                        <!-- 4 -->
                        <li>
                            <div>
                                <a href="../VIDEO/duye.mp4">
                                    <img src="../IMG/redian_R2_4.jpg" alt="">
                                    <i class="hui">4</i>
                                    <span></span>
                                </a>
                            </div>
                            <div>
                                <a href="../VIDEO/duye.mp4">
                                    《毒液：致命守护者》《毒液》“...
                                </a>
                                <p>
                                    <span>228.1</span>
                                    <span>万</span>
                                </p>
                            </div>
                        </li>
                        <!-- 5 -->
                        <li>
                            <div>
                                <a href="#">
                                    <img src="../IMG/redian_R2_5.jpg" alt="">
                                    <i class="hui">5</i>
                                    <span></span>
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    《亡命救赎》《亡命救赎》今日上...
                                </a>
                                <p>
                                    <span>12.1</span>
                                    <span>万</span>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
    </div>

    <!-- 底部 -->
    <footer>
        <p>
            商务合作邮箱：v@maoyan.com 客服电话：10105335 违法和不良信息举报电话：4006018900
        </p>
        <p>
            投诉举报邮箱：tousujubao@meituan.com 舞弊线索举报邮箱：wubijubao@maoyan.com
        </p>
        <p>
            友情链接 :
            <a href="#">美团网</a>
            <span></span>
            <a href="#">美团下载</a>
            <span></span>
            <a href="#">欢喜首映</a>
        </p>
        <p>
            ©2016猫眼电影 maoyan.com
            <a href="#">京ICP证160733号</a>
            <a href="#">京ICP备16022489号-1</a>
            <a href="#">京公网安备 11010102003232号</a>
            <a href="#">网络文化经营许可证</a>
            <a href="#">电子公告服务规则</a>
        </p>
        <p>
            北京猫眼文化传媒有限公司
        </p>
    </footer>
    <!-- 喵 -->
    <a class="miao" href="./zajindan.html" target="blank">
    </a>
</body>
<script>
    var user = new Vue({
        el: "#user",
        data: {
            photo: '',
        },
        beforeMount: function () {
            $.get("/user/selectUser", null, function (data) {
                user.photo = data.userPhoto
            })
        },
    })
</script>
</html>