<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pmsj.cinema.common.mapper.BrandMapper">
  <resultMap id="BaseResultMap" type="com.pmsj.cinema.common.entity.Brand">
    <id column="brand_id" jdbcType="INTEGER" property="brandId" />
    <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from brand
    where brand_id = #{brandId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pmsj.cinema.common.entity.Brand">
    insert into brand (brand_id, brand_name)
    values (#{brandId,jdbcType=INTEGER}, #{brandName,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.pmsj.cinema.common.entity.Brand">
    update brand
    set brand_name = #{brandName,jdbcType=VARCHAR}
    where brand_id = #{brandId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select brand_id, brand_name
    from brand
    where brand_id = #{brandId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" parameterType="com.pmsj.cinema.common.entity.Brand" resultMap="BaseResultMap">
    select brand_id, brand_name
    from brand
    <where>
      <if test="brandName!=null">
        brand_name like '%${brandName}%'
      </if>
    </where>
  </select>
</mapper>