<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>编辑品牌</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/system/lib/layui-v2.5.5/css/layui.css}" href="../../lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" th:href="@{/system/css/public.css}" href="../../css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" name="brandId" th:value="${brand.brandId}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">品牌名</label>
        <div class="layui-input-block">
            <input type="text" name="brandName" lay-verify="required" lay-reqtext="品牌名不能为空" placeholder="请输入品牌名"
                   th:value="${brand.brandName}" value="" class="layui-input">
            <tip>填写要修改的品牌的名称。</tip>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
    　
</div>
</div>
<script th:src="@{/system/lib/layui-v2.5.5/layui.js}" src="../../lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;

        //监听提交
        form.on('submit(saveBtn)', function (data) {

            $.ajax({
                type: "POST",
                url: '/brand/edit',
                data: JSON.stringify(data.field),
                contentType: 'application/json',
                success: function (data) {
                    if (data === "SUCCESS") {
                        layer.msg("修改成功");
                        setTimeout(function(){
                            var iframeIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(iframeIndex);

                            window.parent.location.reload();
                        }, 1000);
                    } else {
                        layer.msg("修改失败")
                    }
                }
            });

            // var index = layer.alert(JSON.stringify(data.field), {
            //     title: '最终的提交信息'
            // }, function () {
            //
            //     // 关闭弹出层
            //     layer.close(index);
            //
            //     var iframeIndex = parent.layer.getFrameIndex(window.name);
            //     parent.layer.close(iframeIndex);
            //
            // });

            return false;
        });

    });
</script>
</body>
</html>